@font-face {
  font-family: 'Celtics';
  src: url('fonts/celtics_font.ttf');
}
@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
html{
    width:100%;
    height:100%;
}
body{
    background-color:#ebebe0;
}
#logo{
     background-image: url("../images/bos300.png");
     width:300px;
     height:300px;
     margin: auto;
     position: absolute;
     top: 0; left: 0; bottom: 0; right: 0;
     /*display:none;*/
}
.celtic_font{
     font-family: 'Celtics', Fallback, sans-serif;
     text-align:center;
     font-size:x-large;
     color: black;
     //text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}
#welcome{
    bottom:2%;
    position:absolute;
    left:0;
    right:0;
}
.navbar_main{
    background-color:#016c38;
    height:40px;
}
.logo{
    background-image:url(../images/logo_menu.png);
    width:60px;
    height:60px;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.menu_button{
    font-family: 'Celtics', Fallback, sans-serif;
    font-size:medium;
    color: white;
    padding-left:5px;
    padding-top:3px;
}
#touch_zone_start{
    width:100%;
    height:100%;
    position:fixed;
}
#main_footer{
   position:absolute !important;
   bottom:0 !important;
   width:100% !important;
}
.main_bar{
    text-shadow:none!important;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color:white!important;
    background-color:#006d3e !important;
    border-style:none!important;
}
#hamburger{
    background:none !important;
    border:none!important;
}
#back{
    background:none !important;
    border:none!important;
    visibility: hidden;
}
.news{
    background-color:#f2f2f2;
    margin-bottom:5px;
    float:left;
}
.news_title{
    text-align:center;
    font-weight:700;
    color:#006d3e;
}
.ui-btn:focus{/*poswietlenie z tylu ui przyciskow*/
    -webkit-box-shadow: 0 0 12px #00cc44!important;
    -moz-box-shadow: 0 0 12px #00cc44!important;
    box-shadow: 0 0 12px #00cc44!important;
}
.mini-img{
    float:left;
    margin-right:5px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color:#006d3e;
    width:150px;
    height:150px;
}
/*PHOTOS*/
#photos_container{
    text-align:center;
}
.photo_gallery{
    display: inline-block;
    width:240px;
    margin-bottom:5px;
    margin-left:5px;
    margin-right:5px;
    background-color:#ccccb3;
    font-weight:700;
    color:#006d3e;
}
#main_container{
    min-height: 100%;
}
/*ROSTER*/
#roster_container{
    text-align:center;
    height:100%;
    width:100%;
    display:inline-block;
}
.roster_item{
    display: inline-block;
    width:130px;
    height:130px;
    background-color:#f2f2f2;
    border-radius: 5px;
    margin-right:10px;
    margin-bottom:5px;
}
.roster_number{
    float:left;
    font-size:170%;
}
.roster_name{
    float:right;
    font-weight:700;
    /*font-size:150%;*/
}
.roster_position{
    float:right;
    font-size:80%;
}
.roster_specific{
    width:100%;
    float:left;
    text-align:center;
    margin-bottom:5px;
}
.bio{
    float:left;
    font-size:100%;
    text-align:left;
    background-color:#f2f2f2;
}
.roster_bar{
    float:left;
    width:100%;
    height:20px;
    line-height: 20px;
    background-color:#016c38;
    color:white;
    text-align:center;
    font-size:80%;
}
.roster_personal_inf{
    float:left;
    width:100%;
    background-color:#f2f2f2;
    text-align:left;
    font-weight:600;
}
.roster_personal_inf > p { 
    margin:0;
}
/*SCHEDULE*/
.schedule_game{
    background-color:#f2f2f2;
    text-align:center;
    margin-bottom:7px;
}
.game_date{
    font-weight:600;
    width:100%;
    margin-bottom:5px;
}
.schedule_team{
    width:100%;
    text-align:center;
    font-weight:600;
    margin-bottom:5px;
}
.schedule_team > img{
    vertical-align:middle;
}
.schedule_arena{
    font-weight:600;
    font-size:70%;
}


